body {
	background-image: url("../images/trivia.jpg");
}

#main-container {
	width: 950px;
	background-color: #292629;
	margin: auto;


}

p {
	text-align: center;
	font-size: xx-large;
	font-weight: 900;
	color: #DAFAD2;
	text-rendering: bold;

}

.center {
	text-align: center;
}